# Ignore everything
*

# But not these files...
!.gitignore
!CMakeLists.txt
!CMakeListsNotGPU.txt

# Include src directory itself
!src/

# Include specific files in src
!src/main.cpp
!src/mainOnGpu.cpp
!src/main.py
!src/temp.cpp

# Explicitly ignore the build directory
/build/
